$s-coin: 340px, 209px, -340px, -209px, 51px, 52px, 655px, 611px, 'sprite.png';
$s-gameGuruLogo: 235px, 209px, -235px, -209px, 101px, 101px, 655px, 611px, 'sprite.png';
$s-legionLogo: 405px, 338px, -405px, -338px, 233px, 73px, 655px, 611px, 'sprite.png';
$s-legionLogo_yellow: 175px, 421px, -175px, -421px, 233px, 73px, 655px, 611px, 'sprite.png';
$s-topRow_klava: 0px, 0px, 0px, 0px, 401px, 205px, 655px, 611px, 'sprite.png';
$s-topRow_kover: 405px, 172px, -405px, -172px, 229px, 162px, 655px, 611px, 'sprite.png';
$s-topRow_mouse: 405px, 0px, -405px, 0px, 250px, 168px, 655px, 611px, 'sprite.png';
$s-topRow_yshi1: 0px, 209px, 0px, -209px, 231px, 208px, 655px, 611px, 'sprite.png';
$s-topRow_yshi2: 0px, 421px, 0px, -421px, 171px, 190px, 655px, 611px, 'sprite.png';
$s-userAvatar: 235px, 314px, -235px, -314px, 50px, 50px, 655px, 611px, 'sprite.png';
